



<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="./owlcarousel/dist/owl.carousel.min.js"></script>
<script src="./magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>

    function toggleAccordion(index) {
        const content = document.getElementById(`content-${index}`);
        const icon = document.getElementById(`icon-${index}`);
    
        // SVG for Down icon
        const downSVG = `
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
        `;
    
        // SVG for Up icon
        const upSVG = `
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
        </svg>
        `;
    
        // Toggle the content's max-height for smooth opening and closing
        if (content.style.maxHeight && content.style.maxHeight !== '0px') {
        content.style.maxHeight = '0';
        icon.innerHTML = upSVG;
        } else {
        content.style.maxHeight = content.scrollHeight + 'px';
        icon.innerHTML = downSVG;
        }
    }

    $(document).ready(function(){
        AOS.init();
        $('.image-link').magnificPopup({type:'image'});
        $(".owl-carousel-1").owlCarousel({
            loop :true,
            autoplay:true,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    
                },
                600:{
                    items:3,
                  
                },
          
            }

        });
        $(".owl-carousel-2").owlCarousel({
            loop :true,
            autoplay:true,
            margin: 5,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                },
                600:{
                    items:2,
                    margin: 5,
                },
          
            }

        });
        $(".owl-carousel-3").owlCarousel({
            loop :true,
            autoplay:true,
            items:1,


        });
    });
</script>
</body>
</html>